<div class="content">
    <h2>Инструменты для работы с ключами:</h2>
    <div class="ppc-tools">
        <div class="ppc-tool">
            <a href="/generator/index">
                <div class="ppc-tool-name clear">
                    <h3>Генератор фраз</h3>
                    <div class="label free"><span>free</span></div>
                </div>
                <p>Пересекает ключевые слова и создаёт новые фразы</p>
            </a>
        </div>
    </div>
</div>

<div class="footer">
  <div class="comments">
    <div id ="disqus_thread">
      <%= raw disqus_thread %>
    </div>
  </div>
</div>
