<div class="content">
  <h2>Генератор новых фраз:</h2>
  <form class="form" action="" method="post">
    <div class="generator clear">
      <div class="keys">
        <h3>Ключи 1:</h3>
        <textarea name="key1" rows="5"></textarea>
      </div>
      <div class="keys">
        <h3>Ключи 2:</h3>
        <textarea name="key2" rows="5"></textarea>
      </div>
      <div class="keys">
        <h3>Ключи 3:</h3>
        <textarea name="key3" rows="5"></textarea>
      </div>
    </div>
    <div class="keys-generate">
      <input type="submit" name="generate" value="Перемножить строки">
    </div>
  </form>
  <div class="results-form">
    <h3>Готовые фразы:</h3>
    <div class="results">
      <p>Введите ключи в поля выше, для генерации новых фраз</p>
    </div>
  </div>
</div>
